<!DOCTYPE html>
<html
    xmlns:layout="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/successPageLayout}">
<head>
  <title>success page 1</title>
</head>
<body>
<div layout:fragment="content">

  <p>
    Olet piileskellyt asunnossasi yli kaksi kuukautta. Juomavetesi ja ruokavarantosi alkavat loppua ja ulkoa kuuluvat kummalliset nuuskivat ja uikuttavat äänet häiritsevät öitäsi. Olet peittänyt ikkunasi, mutta niiden takana liikkuvat laahustavat varjot tuntuvat tutkivan asuntoasi öisin. Päivisin on aivan hiljaista, mutta hiljaisuuden kokonaisvaltaisuus kauhistuttaa sinua. Sähköt ja puhelin eivät ole toimineet moneen viikkoon.
  </p>

  <p>Päätät, että on aika lähteä.</p>

  <p>
  Auringon noustessa 65:nnen päivän aamuna avaat vihdoin ulko-ovesi ja suuntaat kohti metsää; haluat kauas asutuksesta, kauas uikuttavista varjoista. Tunnet metsän polkuineen hyvin ja olet piilottanut sinne ruokaa ja tarvikkeita. Olet valinnut lähestymisreitit piiloihisi siten, että nopea liikkuminen hätätilanteessa on mahdollista.
  </p>
  <p>
  Rupeat varovaisesti etenemään kohti metsää.
  </p>
</div>
</body>
</html>