<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headPart ('Intro')"></head>
<body class="black">
<div th:replace="fragments :: debugInfo"></div>

<div th:replace="fragments :: storyBanner"></div>

<h1>This is a <a href="https://www.geocaching.com/play">Geocache</a></h1>
<h2>This is work in progress, will be released soon.</h2>
<p>
  This is the page you are shown when following the QR code published on the geocaching com.
</p>

<h1 th:replace="fragments :: startNextLink"><a href="">GO!</a></h1>

</body>
</html>