<!DOCTYPE html>
<html
    xmlns:layout="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/successPageLayout}">
<head>
  <title>Aika liikkua</title>
</head>
<body>
<div layout:fragment="content">

  <p>
    Tunnet helpotusta saapuessasi metsään ilman välikohtauksia. Matka läpi autioituneen kaupungin sai sinut tuntemaan itsesi hauraaksi ja suojattomaksi. Nyt tunnet olevasi turvassa. Edessäsi aukeaa erämaa-alue, josta olet aina hakenut lohtua vaikeina hetkinä. Odotat innolla tätä tulevaa monen päivän matkaa ja varusteiden keräilyä.
  </p>

  <p>
    Hengität syvään raikasta ilmaa ja lähdet etenemään kohti ensimmäistä kätköäsi.
  </p>

</div>
</body>
</html>