<!DOCTYPE html>
<html
    xmlns:layout="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/successPageLayout}">
<head>
  <title>Huippu</title>
</head>
<body>
<div layout:fragment="content">

  <p>
    Hiki valuu pitkin selkääsi. Keuhkoihisi sattuu. Katsot tulosuuntaasi. Kaikki näyttää normaalilta. Istut alas ja annat hengityksesi tasaantua.
  </p>

  <p>
    Nostat puhelimen käteesi, näppäilet tutun numeron ja odotat. Lopulta joku vastaa. Vaikka olet valinnut paikan tarkkaan ja olet metsän korkeimmalla kohdalla, signaali on heikko saat selvää vain osasta sanoista.
  </p>

  <p>
    ... nopeasti ...</br>
    ... kaikkialla ...</br>
    ... sovittu paikka ... odota ...</br>
    ... helikopteri ... apua ...</br>
  </p>

  <p>
    Suunnitelma on valmiina ja noudatat sitä. Katsot jälleen tulosuuntaasi. Puut heiluvat kaukaisuudessa, vaikka ilma on tyyni. On aika jatkaa.
  </p>

  <img src="/images/ancient-blood/s1q5_route_scaled.jpg">

</div>
</body>
</html>