<!DOCTYPE html>
<html
    xmlns:layout="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
    layout:decorate="~{layouts/successPageLayout}">
<head>
  <title>Apua ei tule</title>
</head>
<body>
<div layout:fragment="content">
  <p>
    On vaikea ajatella. Paniikki on vallannut mielesi ja intuitiivinen toiminta ruumiisi. Yrität keskittyä ja saada jälleen yhteyden kontaktiisi. Puhelin hälyttää kolme kertaa, kunnes mykistyy. Yrität uudestaan, mutta puhelin on mykkä. Silloin ymmärrät.
  </p>

  <p>
    Olet yksin tässä maailmassa, yksin selviämässä maailmanlopusta. Apua ei ole tulossa.
  </p>

 <p>
  On aika ottaa käyttöön viimeinen suunnitelma.
 </p>
</div>
</body>
</html>