BODY.black {
  background-color: black;
  color: antiquewhite;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.bgreen {
  background-color: green;
}

.bred {
  background-color: red;
}

.byellow {
  background-color: yellow;
}

.w100 {
  width: 100%;
  max-width: 300px;
}

table, th, td {
  border: 1px solid white;

}

a:link, a:visited, a:hover, a:active {
  background-color: white;
  color: black;
}

.clock {
  font-family: 'Orbitron', sans-serif;
  color: #41FF00;
}
