<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headPart (title = 'Odota')"></head>
<body class="black">

<h2>Valmistellaan tehtävää, odota...</h2>


<h3 th:if="${model.lat}">
  <div>
    Kohde:
    <span th:text="${model.lat}"></span>,
    <span th:text="${model.lon}"></span>
  </div>
  <div>
    Etäisyys: <span id="distance"></span>
  </div>
</h3>

<div id="status"></div>

<p id="errorContainer"></p>

<script src="/js/geoApi.js"></script>

<script th:inline="javascript">
  var targetUrlFromModel = [[${model.action}]];
  var readLocation = "" + [[${@environment.getProperty('location.reading.enabled')}]];
  var targetLat = [[${model.lat}]];
  var targetLon = [[${model.lon}]];
</script>
<script>
  var startTime = new Date().getTime();
  var statusCounter = 0;

  const status = document.getElementById('status');
  const errorContainer = document.getElementById("errorContainer");
  const distanceView = document.getElementById("distance");

  function processError(message) {
    startTime = 0;
    showError(message);
  }

  function processNewLocation(position) {
    var lat = position.coords.latitude.toFixed(5);
    var lon = position.coords.longitude.toFixed(5);

    updateDistance(lat, lon);

    // TODO: This needs to match what is in Engine.kt
    if (distance(lat, lon, targetLat, targetLon) < 50) {
      sendLocation(lat, lon);
    }
  }

  function checkElapsed() {
    const elapsed = new Date().getTime() - startTime;
    if (elapsed > 60000) {
        showError('Olet liian kaukana kohteesta. Yritä uudelleen.');
    } else {
      if(statusCounter < 3) {
      if (statusCounter % 4 == 0) {
        addStatus('Ajetaan diagnostiikka...', false);
      }
      if (statusCounter % 4 == 1) {
        addStatus('Lämmitetään vuokapasitaattoreita...', true);
      }
      if (statusCounter % 4 == 2) {
        addStatus('Muovataan aika-avaruutta...', true);
      }
      if (statusCounter % 4 == 3) {
        addStatus('Jaetaan nollalla...', true);
      }
      } else if(statusCounter == 3) {
        addStatus('Olet liian kaukana kohteesta...',true)
      } else {
        addStatus('Olet liian kaukana kohteesta...',false)
      }

      statusCounter++;
      setTimeout(checkElapsed, 5000);
    }
  }

  function addStatus(message, append) {
    var content = '';
    if (append) {
      content += '<span class="green"> DONE</span>';
    }

    content += '<br><span>' + message + '</span>';
    status.innerHTML = status.innerHTML + content;
  }

  function sendLocation(lat, lon) {
    console.log("Sending location");
    const locationString = lat + ';' + lon + ';' + new Date().getTime();
    const targetUrl = targetUrlFromModel + '/' + crypt(locationString);
    window.location = targetUrl;
  }

  function showError(text) {
    errorContainer.innerHTML = errorContainer.innerHTML + '<br><span class="red">' + text
        + '</span>';
  }

  function updateDistance(lat, lon) {
    if (targetLat) {
      const distanceInMeters = distance(lat, lon, targetLat, targetLon);
      distanceView.innerHTML = distanceInMeters + "m";
    }
  }

</script>

<script>
  /*
  Nice, you found your way here hacker boy. Good thing we have onion like security in place.
  Happy hunting.
   */
  const ceaserTarget = 'cdef01234567890-ab';
  const ceaserSource = '0123456789abcdef.;';

  function crypt(input) {
    var output = '';
    for (var i = 0; i < input.length; i++) {
      output += ceaserTarget.charAt(ceaserSource.indexOf(input.charAt(i)));
    }
    return output;
  }

</script>

<script>
  // Just for development
  if (readLocation === "false" || !targetLat) {
    sendLocation(0, 0);
  } else {
    getLocation(processNewLocation, processError);
    checkElapsed();
  }
</script>

</body>
</html>
