<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headPart (title)">
  <meta charset="UTF-8">
  <title th:text="${title}">the title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
</head>

<div class="center m3" th:fragment="startNextLink">
  <a class="button" th:href="@{/checkLocation(action='/engine/start/ancient-blood/'+${model.nextQuest.order}+'/'+${model.nextQuest.secret},lat=${model.currentQuest?.location?.lat},lon=${model.currentQuest?.location?.lon})}">Aloita</a>
</div>

<div th:fragment="restartLink">
  <a th:href="@{'/engine/init/'+${model.state.scenario}}">Better luck next time</a>
</div>

<div th:fragment="mapLinks" th:if="${model.lat != null}">
  <ul>
    <li><a target="_blank" th:href="@{'geo:' + ${model.lat} + ',' + ${model.lon}}">Geo link</a></li>
    <li><a target="_blank" th:href="@{'https://maps.apple.com/?q=target&ll=' + ${model.lat} + ',' + ${model.lon}}">Apple Maps</a></li>
    <li><a target="_blank" th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${model.lat} + ',' + ${model.lon}}">Google Maps</a></li>
  </ul>
</div>

<div th:fragment="storyBanner">
  <h1  class="clock" th:text="${model.nextQuest.fictionalClock}"></h1>
</div>
